{% extends 'layouts/base.html' %}

{% block content %}

<div class="form-box">
    <form class="form" action="/staff/create_staff" method="post">
        <span class="title">Add Staff</span>
        <div class="form-container">
          
          <input type="text" class="input" name="name" placeholder="Full Name" required>
                <input type="email" class="input" name="email" placeholder="Email" required>
                <input type="text" class="input" name="salary" placeholder="Salary" required>
                <input type="text" class="input" name="role" placeholder="role" required>
                <input type="text" class="input" name="owner_id" placeholder="" required>
        </div>
        <button>Add_Staff</button>
    </form>
    <div class="form-section">
    </div>
    </div>
{% endblock %}

