{% extends 'layouts/base.html' %}

{% block content %}

<div class="form-box">
    <form class="form" action="/staff/update/{{users.staff_id}}" method="post">
        <span class="title">Add Staff</span>
        <div class="form-container">
          <input type="text" class="input" name="name" placeholder="Full Name" required>
                <input type="email" class="input" name="email" placeholder="Email" required>
                <input type="text" class="input" name="salary" placeholder="Salary" required>
                <input type="text" class="input" name="role" placeholder="role" required>
        </div>
        <button>save</button>
    </form>
    </div>
{% endblock %}

