{% extends 'layouts/base.html' %}

{% block content %}

<div class="navbar">
    <div class="menu">
      <a href="/orders">Orders</a>
      <a href="/menu/add_menu">Menus</a>
    </div>
  </div>
  
  <div class="contenedor contenido-principal">
          <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>MENU NAME</th>
          <th>PRICE</th>
          <th>DESCRIPTION</th>
          <th>CREATED_AT</th>
          <th>ACTIONS</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody id="tablaDatos">
       
            {% for order in orders %}
          <td>{{order.menu_id}}</td>
          <td>{{order.menu_name}}</td>
          <td>{{order.price}}</td>
          <td>{{order.description}}</td>
          <td>{{order.created_at}}</td>
          <td class="acciones">
            
            <a class="botonEliminar" href="/order/update/{{order.order_id}}">Modify</a>
        </td>
        <td>
            <form action="/order/delete/{{order.order_id}}" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <button>Delete</button>
            </form>
          </td>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
{% endblock %}

