{% extends 'layouts/base.html' %}

{% block content %}

<h1>Modify Order</h1>
<div class="card">
    <span class="title">Leave a Comment</span>
    <form class="form" action="/order/update/{{order_id}}" method="post">
      <div class="group">
      <input placeholder="" name="menu_name"  type="text" required="">
      <label for="name">Menu Name</label>
      </div>
  <div class="group">
      <input placeholder="" type="text" id="email" name="price" required="">
      <label for="email">Price</label>
      </div>
  <div class="group">
      <textarea placeholder="Description" id="comment" name="description" rows="5" required=""></textarea>
      <label for="comment">Description</label>
  </div>
  <div class="group">
    <input placeholder="" name="client_id"  type="text" required="">
    <label for="name">client_id</label>
    </div>
    <div class="group">
      <input placeholder="" name="staff_id"  type="text" required="">
      <label for="name">staff_id</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
{% endblock %}

