{% extends 'layouts/base.html' %}

{% block content %}

<div class="form-box">
    <form class="form" action="/auth/login_user" method="post">
        <span class="title">Sign in</span>
        <span class="subtitle">Create a free account with your email.</span>
        <div class="form-container">
                <input type="email" class="input" name="email" placeholder="Email" required>
                <input type="text" class="input" name="User_type" placeholder="As ..." required>
                <input type="password" class="input" name="password" placeholder="Password">
        </div>
        <button>Sign up</button>
    </form>
    <div class="form-section">
      <p>Have an account? <a href="auth/register">Sign-up</a> </p>
    </div>
    </div>
    
{% endblock %}

