{% extends 'layouts/base.html' %}

{% block content %}

<h1>Change Menu</h1>
<div class="card">
    <span class="title">Leave a Comment</span>
    <form class="form" action="menu/update/{{menu_id}}" method="post">
      <div class="group">
        <input placeholder="" name="user_id" type="text" required="">
        <label for="name">user name</label>
        </div>
      <div class="group">
      <input placeholder="" name="menu_name" type="text" required="">
      <label for="name">Name</label>
      </div>
  <div class="group">
      <input placeholder="" type="text" id="email" name="price" required="">
      <label for="email">Price</label>
      </div>
  <div class="group">
      <textarea placeholder="Description" id="comment" name="description" rows="5" required=""></textarea>
      <label for="comment">Description</label>
  </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
{% endblock %}

